body{
    padding-left: 5%;
    padding-right: 5%;
    grid-gap: 15px;
    line-height: 1.5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:"header header header header"
    "section section section sidebar" 
    "footer footer footer footer";
    background-color: rgb(238, 230, 230);
}

.header {
    display: grid;
    grid-template-columns: 100%;
    background-image: url("../pictures/header1.jpg");
    text-align: center;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.top-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    list-style: none;
    text-align: center;
}

.top-menu li a {
    text-decoration: none;
    color: papayawhip;
    background-color: rgb(156, 141, 141);
    border: none;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    background-color:  rgba(156, 141, 141, 0.7);
    border-radius: 16px;
}

/* Forside */

.section-forside {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
}

iframe {
    width: 100%;
    height: 99%;
    border: 0;
}

.article-wrapper {
    display: flex;
    flex-direction: row;
}

.article-forside {
    margin-left: 10px; 
    background-color: rgba(190, 187, 187, 0.4);
    border-radius: 25px;
    text-align: center;
    width: 33%;
}

.article-forside h2 {
    text-align: center; 
}


.article-forside p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

.article-forside img {
    width: 8em;
    height: 8em;
}

.article-linkbtn {
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 150, 150);
    border: none;
    color: white;
    padding: 15px 28px;
    text-decoration: none;
    font-size: 16px;
    max-width: 15%;
    margin-left: 35%;
}

.sidebar {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 0.5fr;
    grid-gap: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.section-aside {
    text-align: center;
    background-color:  rgba(156, 141, 141, 0.6);
    border-radius: 10px;
}

.section-aside h3 {
    text-align: center;
}

.section-aside ul {
    margin-top: 5%;
    list-style: none;
}

.section-aside li {
    margin-top: 10px;
    text-align: justify;
}

.section-aside li a {
    text-decoration: none;
    color: black;
    
}

.section-gitbtn {
    background-color: rgb(112, 107, 107);
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Artikkel */

.artikkel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-artikkel h2 {
    text-align: center;
}

.img-artikkel img{
    width: 100%;
    text-align: center;
    height: 25em;

}

.article-artikkel {
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 10px;
    margin-left: 10px; 
    margin-right: 10px;
    background-color: rgba(190, 187, 187, 0.4);
    border-radius: 25px;
}

.article-artikkel h3 {
    margin-left: 20px;
    text-align: center;
    font-size: 1.5em;
}

.article-artikkel p {
    margin-left: 10px;
    margin-right: 10px;
}

.article-maler {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-maler h3 {
    text-align: center;

}

.article-maler img{
    width: 100%;
    text-align: center;

}

footer {
    width: auto;
    margin-top: 15px;
    display: grid;
    grid-template-rows: auto;
    background-color: rgba(190, 187, 187, 0.4);
    border-radius: 25px;
}

footer p {
    margin-left: 10px;
}